// 全局样式入口文件
@import './variables.scss';
@import './reset.scss';
@import './common.scss';
@import './element-plus.scss';
@import './dark.scss';
@import './responsive.scss';
@import './transitions.scss';